menu "Hisilicon K3 board feature"
	depends on ARCH_K3V2

# -------------------------------------
if ARCH_K3V2

comment "Hisilicon K3V200 options"

choice
	prompt "Select K3V200 processor family for target system"

config ARCH_K3V2_Hi362x_SOC
	bool "Hi362x family"
	select CPU_V7
	select ARM_GIC
	select MACH_K3V2OEM1
	select MIGHT_HAVE_PCI
	help
	  Support for Hisilicon K3V200 Hi362x processors, based on the
	  ARM CortexA9MP CPU and the ARM PL310 L2 cache controller

endchoice

# config MACH_TC45MSU3
#	bool "TC45MSU3 Board"
#	help
#	  Support for  Hisilicon TC45MSU3 FPGA Verify platform

config MACH_K3V2OEM1
	bool "K3V2OEM1 Board"
	select REGULATOR_HI6421
	help
	  Support for  Hisilicon K3V2 SOC OEM 1 platform

config MACH_K3V2OEM2
	bool "K3V2OEM2 Board"
	select REGULATOR_HI6421
	help
	  Support for  Hisilicon K3V2 SOC OEM 2 platform

comment "K3V200 features"
config K3_EDB_LEVEL
	int "Kernel Early-Debug Level( 0~254, 255 => Disable Early-Debug)"
	range 0 255
	default "0"
	help
	  Set the debug level of Early-Debug, low level will cause more debug message
# ADC driver

config IPPS_SUPPORT
	bool "IPPS driver support"
	select ARCH_HAS_CPUFREQ
	default y
	help
	  IPPS driver support for cpu gpu ddr dvfs.

config IPPS_PARAM_ALTERNATIVE
	bool "IPPS parameters seperate from firmware"
	default y
	help
	  IPPS parameters seperate from firmware.

config TRIM_VOL
	bool "TRIM Voltage support"
	default n
	help
	  TRIM Voltage patch support.

config S10_IPPS_FIRMWARE
	bool "S10 IPPS Firmware"
	depends on IPPS_SUPPORT
	default n
	help
	  S10 Special IPPS Firmware.

config MMC_EMMC_DEVICE
	bool "emmc device support"
	default y
	help
	  EMMC device support.

config MMC_SD_DEVICE
	bool "sd device support"
	default y
	help
	  SD device support.

config MMC_SDIO_DEVICE
	bool "sdio device support"
	default y
	help
	  SDIO device support.
config WIFI_DEVICE
	bool "bcm4330-wifi device support"
	select WIFI_CONTROL_FUNC
	default n
	help
	  bcm4330-wifi device support

config MODEM_BOOT
	bool "Modem boot control support"
	default y
	help
	  Modem boot control support

config XMM_POWER
	bool "xmm6260 power control support"
	depends on MODEM_BOOT
	default y
	help
	  xmm6260 power control

config XMM_RMNET
	bool "xmm6260 rmnet support"
	depends on XMM_POWER
	default y
	help
	  xmm6260 rmnet

config BALONG_POWER
	bool "balong boot control support"
	depends on MODEM_BOOT
	default y
	help
	  Modem balong boot control support

config BALONG_RMNET
	bool "balong rmnet support"
	depends on BALONG_POWER
	default y
	help
	  Modem balong rmnet config

config MODEM_BOOT_QSC6085
        bool "qsc6085 boot control support"
	depends on MODEM_BOOT
        default y
        help
          Modem qsc6085 boot control support

config MODEM_BOOT_MTK6252
	bool "mtk6252 boot control support"
	depends on MODEM_BOOT
	default y
	help
	  Modem mtk6252 boot control support

config MODEM_BOOT_SPRD8803G
       bool "sprd8803 boot control support"
       depends on MODEM_BOOT
       default y
       help
         Modem sprd8803 boot control support

config DEFAULT_TIMERCLK
	int "Kernel Timer Clock Frequence"
	default "26000000"
	help
	  Set default timer clock frequence

config CONNECTIVE_CONTROL_FPGA
	bool "connective platform select"
	default n
	help
	  Set connective platform

config LOWPM_DEBUG
	bool "low power debug property"
	depends on DEBUG_FS
	help
		set low power debug property

config DEBUG_LED
	bool "LED light for debug"
	default n
	help
		set LED light for debug

config K3_CLK_ALWAYS_ON
    tristate "k3v2 clk write register when disable clk"
	default n
	help
		Say y don't write register if disable CLK,used for debug

config K3V2_WAKEUP_TIMER
    tristate "k3v2 wakeup timer driver"
	default n
	help
		Say Y to enable k3v2 wakeup timer driver Support

config TOUCH_INPUT_SYNAPTICS2202
	bool "use synaptics 2202 for touch device"
	default n
	help
		set synaptics 2202 for TP else use synaptics 7020

config TOUCH_INPUT_SYNAPTICS_RMI4
	bool "use synaptics RMI4 for touch device"
	default n
	help
		Old synaptics TP, not use any more.If you want to use,disable TOUCH_INPUT_SYNAPTICS2202

config PMEM_ALTERNATIVES
    bool "Overrides PMEM sizes"
    default n

config PMEM_HIGPU_BUF_SIZE
    int "Overrides HIGPU_BUF_SIZE (in MB)"
    depends on PMEM_ALTERNATIVES
    default 0

config PMEM_GRALLOC_SIZE
    int "Overrides HISI_PMEM_GRALLOC_SIZE (in MB)"
    depends on PMEM_ALTERNATIVES
    default 0

config PMEM_CODEC_SIZE
    int "Overrides HISI_MEM_CODEC_SIZE (in MB)"
    depends on PMEM_ALTERNATIVES
    default 0

endif

config MAX_TTY_BUFFER
	int "MAX tty buffer"
	default "2097152"
	help
		Set the default max tty buffer sie 2M

config SUPPORT_B3750000_BITRATE
	bool "suport 3.75Mbps bitrate for uart"
	default y
	help
   	   slect this if use b3750000,pll frequency have change to 60Mhz

config ENABLE_K3V2_UART_SLEEP_CONTROL_FOR_D2
	bool "use additional gpio for uart sleep control"
	default y
	help
       slect this if use additional gpio for uart sleep control

config K3V2_RAMDUMP
	bool "ram dump for k3v2 platform"
	default y
	help
	ram dump for k3v2 platform

endmenu
