if VIDEO_HIK3_CAMERA

menu "Hisilicon K3 sock Camera/V4L2 Features support"
config VIDEO_HIK3_ISP_CAMERA
	tristate "Hisilicon K3 ISP"
	depends on VIDEO_HIK3_CAMERA
	default m
    ---help---
        Hisilicon K3 ISP driver.

config HIK3_CAMERA_OV5642
    tristate "OV5642 camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiOV5642 camera driver

config HIK3_CAMERA_OV8830
    tristate "OV8830 camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiOV8830 camera driver

config HIK3_CAMERA_SONYIMX105
    tristate "SONYIMX105 camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiSONYIMX105 camera driver

config HIK3_CAMERA_S5K3H2YX_FOXCONN
    tristate "S5K3H2YX_FOXCONN camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiS5K3H2YX_FOXCONN camera driver

config HIK3_CAMERA_S5K3H2YX_SAMSUNGEM
    tristate "S5K3H2YX_SAMSUNGEM camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiS5K3H2YX_SAMSUNGEM camera driver

config HIK3_CAMERA_MT9M114
    tristate "MT9M114 camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiMT9M114 camera driver

config HIK3_CAMERA_FLASH
	tristate "Hisilicon K3 flash"
	depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
	default n
	---help---
	Hisilicon K3 flash driver

config CAMERA_FLASH_LM3642
	tristate "Hisilicon K3 flash"
	depends on HIK3_CAMERA_FLASH&&VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
	default n
	---help---
	Hisilicon K3 flash driver

config HIK3_CAMERA_SONYIMX091
    tristate "SONYIMX091 camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiSONYIMX091 camera driver

config HIK3_CAMERA_S5K5CAG
    tristate "S5K5CAG camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiS5K5CAG camera driver

config HIK3_CAMERA_SONYIMX135
    tristate "SONYIMX135 camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiSONYIMX135 camera driver
	
config HIK3_CAMERA_SONYIMX188
    tristate "SONYIMX188 camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiSONYIMX188 camera driver
#endif
	
endmenu

endif

config HIK3_CAMERA_SONYIMX134
    tristate "SONYIMX134 camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiSONYIMX134 camera driver

config HIK3_CAMERA_HI542
    tristate "HI542 camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiHI542 camera driver


config HIK3_CAMERA_S5K4E1GA_FOXCONN
    tristate "S5K4E1GA_FOXCONN camera"
    depends on VIDEO_HIK3_CAMERA && VIDEO_HIK3_ISP_CAMERA
    default n
    ---help---
        HiS5K4E1GA_FOXCONN camera driver
