sonyimx135=/system/etc/camera/davinci/sonyimx135_liteon/
sonyimx135_liteon=/system/etc/camera/davinci/sonyimx135_liteon/
ov8830=/system/etc/camera/davinci/ov8830/
ov8830_sunny=/system/etc/camera/davinci/ov8830/
ov8830_foxconn=/system/etc/camera/davinci/ov8830/
ov8830_samsuny=/system/etc/camera/davinci/ov8830/
sonyimx134_liteon=/system/etc/camera/davinci/sonyimx134_liteon/
sonyimx134_sunny=/system/etc/camera/davinci/sonyimx134_liteon/
hi542=/system/etc/camera/davinci/hi542/
s5k4e1ga_foxconn=/system/etc/camera/davinci/s5k4e1ga_foxconn/